<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm xe buýt</title>
</head>
<body>
<h1>Thêm xe buýt mới</h1>
<form th:action="@{/bus/add}" th:object="${bus}" method="post">
    Biển số: <input type="text" th:field="*{licensePlate}" required/><br/>
    Loại xe:
    <select th:field="*{busType}">
        <option value="NORMAL">NORMAL</option>
        <option value="VIP">VIP</option>
        <option value="LUXURY">LUXURY</option>
    </select><br/>
    Số hàng ghế: <input type="number" th:field="*{rowSeat}" required/><br/>
    Số cột ghế: <input type="number" th:field="*{colSeat}" required/><br/>
    Hình ảnh (URL): <input type="text" th:field="*{image}" required/><br/>

    <button type="submit">Thêm xe</button>
</form>
<a th:href="@{/bus}">Quay lại</a>
</body>
</html>
