<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Thêm khách hàng</title>
</head>
<body>

<h2 style="text-align: center;">Thêm Khách Hàng</h2>

<div class="message" th:text="${message}"></div>

<form th:action="@{/addCustomer}" th:object="${customer}" method="post">
    <label>Username:</label>
    <input type="text" th:field="*{username}" />
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Lỗi</div>

    <label>Password:</label>
    <input type="text" th:field="*{password}" />
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Lỗi</div>

    <label>Email:</label>
    <input type="email" th:field="*{email}" />
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Lỗi</div>

    <label>Số điện thoại:</label>
    <input type="text" th:field="*{phoneNumber}" />
    <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Lỗi</div>

    <input type="submit" value="Thêm khách hàng" />
</form>

</body>
</html>
